{{define "content"}} {{if .}}
<form method="POST">
  <div>
    <h2>Result of your calculation</h2>
    <h3 class="result">{{.ValueBefore}} {{.From}} = {{.ValueAfter}} {{.To}}</h3>
    <a href="/" class="resetBtn">Reset</a>
  </div>
</form>
{{else}}
<form method="POST">
  <div class="input-container">
    <label for="value">Enter the length to convert</label>
    <input name="value" id="value" type="number" placeholder="0" />
  </div>

  <div class="input-container">
    <label for="from">Unit to convert from </label>
    <select name="from" id="from">
      <option value="Kilometer">Kilometer</option>
      <option value="Meter" selected>Meter</option>
      <option value="Centimeter">Centimeter</option>
      <option value="Millimeter">Millimeter</option>
    </select>
  </div>

  <div class="input-container">
    <label for="to">Unit to convert to</label>
    <select name="to" id="to">
      <option value="Kilometer" selected>Kilometer</option>
      <option value="Meter">Meter</option>
      <option value="Centimeter">Centimeter</option>
      <option value="Millimeter">Millimeter</option>
    </select>
  </div>

  <button type="submit">Convert</button>
</form>
{{end}} {{end}}
