{{define "content"}} {{if .}}
<form method="POST" enctype="application/x-www-form-urlencoded" target="_self">
  <div>
    <h2>Result of your calculation</h2>
    <h3 class="result">{{.ValueBefore}} {{.From}} = {{.ValueAfter}} {{.To}}</h3>
    <a href="/" class="resetBtn">Reset</a>
  </div>
</form>
{{else}}
<form method="POST" enctype="application/x-www-form-urlencoded" target="_self">
  <div class="input-container">
    <label for="value">Enter the weight to convert</label>
    <input name="value" id="value" type="number" placeholder="0" />
  </div>

  <div class="input-container">
    <label for="from">Unit to convert from </label>
    <select name="from" id="from">
      <option value="Kilogram">Kilogram</option>
      <option value="Hectogram">Hectogram</option>
      <option value="Decagram">Decagram</option>
      <option value="Gram" selected>Gram</option>
      <option value="Decigram">Decigram</option>
      <option value="Centigram">Centigram</option>
      <option value="Milligram">Milligram</option>
    </select>
  </div>

  <div class="input-container">
    <label for="to">Unit to convert to</label>
    <select name="to" id="to">
      <option value="Kilogram" selected>Kilogram</option>
      <option value="Hectogram">Hectogram</option>
      <option value="Decagram">Decagram</option>
      <option value="Gram">Gram</option>
      <option value="Decigram">Decigram</option>
      <option value="Centigram">Centigram</option>
      <option value="Milligram">Milligram</option>
    </select>
  </div>

  <button type="submit">Convert</button>
</form>
{{end}} {{end}}
